In [30]:
import pandas as pd

In [31]:
# Có bao nhiêu người trên 30 tuổi
df = pd.read_csv("hw3_data.csv")

age_data = df[["Name", "Age"]]
age_data[df["Age"] >= 30]

     Name  Age
3   David   32
5   Frank   40
6   Grace   35
7  Hannah   30

In [32]:
# Tổng số tiền lương của tất cả mọi người có trong dữ liệu là bao nhiêu
sum_salary = df["Salary"].sum()
print("Tổng số tiền lương của tất cả mọi người là: ", sum_salary)

Tổng số tiền lương của tất cả mọi người là:  430000

In [40]:
# Có bao nhiêu người có lương lớn hơn 50.000 và tuổi nhỏ hơn 40 ?
# data_salary_and_age = df[["Name", "Age", "Salary"]]
# data_salary_and_age = [(df["Age"] < 40) & (df["Salary"] > 50000)]
# data_salary_and_age

filtered = df[(df["Age"] < 40) & (df["Salary"] > 50000)]
print("Danh sách thỏa điều kiện:\n", filtered[["Name", "Age", "Salary"]])
print("Số lượng người thỏa điều kiện:", filtered.shape[0])
# filtered[["Name", "Age", "Salary"]]
# filtered.shape[0]

Danh sách thỏa điều kiện:
       Name  Age  Salary
1      Bob   27   52000
2  Charlie   22   55000
3    David   32   60000
6    Grace   35   61000
Số lượng người thỏa điều kiện: 4