In [4]:
import pandas as pd
from pandas.api import types as ptypes

In [ ]:
df = pd.read_csv("hw4_yob2010.csv")

  Isabella  F  22731
0   Sophia  F  20477
1     Emma  F  17179
2   Olivia  F  16860
3      Ava  F  15300
4    Emily  F  14172
5  Abigail  F  14124
6  Madison  F  13070
7    Chloe  F  11656
8      Mia  F  10541
9  Addison  F  10253

In [5]:
#câu 1: Có bao nhiêu em bé trai và em bé gái được sinh vào năm 2010
sex_col = None
for c in df.columns:
    sample = df[c].dropna().astype(str).head(100).str.lower().unique()
    if set(sample).issubset({'m', 'f', 'male', 'female'}):
        sex_col = c
        break

count_col = None
for c in df.columns:
    if ptypes.is_numeric_dtype(df[c]):
        count_col = c
        break

if sex_col is None:
    raise ValueError(f"Không tìm thấy cột giới tính trong df.columns: {list(df.columns)}")

if count_col:
    totals = df.groupby(df[sex_col].str.upper())[count_col].sum()
else:
    totals = df[sex_col].str.upper().value_counts()

print("Số lượng theo giới tính (2010): ")
print(totals)

Số lượng theo giới tính (2010):
F
F    1736279
M    1898382
Name: 22731, dtype: int64

In [7]:
# Câu 2: Top 10 tên phổ biến nhất đặt cho bé gái là gì ? Top 10 tên phổ biến nhất đặt cho bé trai là gì ?
if 'sex_col' not in globals() or sex_col is None:
    sex_col = None
    for c in df.columns:
        sample = df[c].dropna().astype(str).head(100).str.lower().unique()
        if set(sample).issubset({'m', 'male', 'f', 'female'}):
            sex_col = c
            break

if 'count_col' not in globals() or count_col is None:
    count_col = None
    for c in df.columns:
        if ptypes.is_numeric_dtype(df[c]):
            count_col = c
            break

name_col = None
for candidate in ('name', 'names', 'first', 'given', 'firstname'):
    for c in df.columns:
        if c.lower() == candidate:
            name_col = c
            break
    if name_col:
        break

if name_col is None:
    for c in df.columns:
        if c != sex_col and not ptypes.is_numeric_dtype(df[c]):
            name_col = c
            break

if name_col is None:
    raise ValueError(f"Không tìm thấy cột tên trong df.columns: {list(df.columns)}")

df[name_col] = df[name_col].astype(str).str.strip().str.title()
df[sex_col] = df[sex_col].astype(str).str.upper().str[0]

if count_col:
    grouped = df.groupby([sex_col, name_col])[count_col].sum().reset_index(name='count')
else:
    grouped = df.groupby([sex_col, name_col]).size().reset_index(name='count')

top_female = grouped[grouped[sex_col] == 'F'].nlargest(10, 'count').reset_index(drop=True)
top_male = grouped[grouped[sex_col] == 'M'].nlargest(10, 'count').reset_index(drop=True)

print("Top 10 tên bé gái:")
print(top_female[[name_col, 'count']])
print("\nTop 10 tên bé trai:")
print(top_male[[name_col, 'count']])

Top 10 tên bé gái:
  Isabella  count
0   Sophia  20477
1     Emma  17179
2   Olivia  16860
3      Ava  15300
4    Emily  14172
5  Abigail  14124
6  Madison  13070
7    Chloe  11656
8      Mia  10541
9  Addison  10253

Top 10 tên bé trai:
    Isabella  count
0      Jacob  21875
1      Ethan  17866
2    Michael  17133
3     Jayden  17030
4    William  16870
5  Alexander  16634
6       Noah  16281
7     Daniel  15679
8      Aiden  15403
9    Anthony  15364