In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df = pd.read_csv("tv_shows.csv")
# df.columns = [name.replace('\n', " ") for name in df.columns]
df.sample(10)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
2918,2918,3041,Nosotros los Guapos,2016,13+,5.9/10,47/100,0,1,0,0,1
142,142,143,Marvel's The Defenders,2017,18+,7.3/10,78/100,1,0,0,0,1
2012,2012,2037,DAVE,2020,18+,8.3/10,82/100,0,1,0,0,1
3455,3455,3595,Billions,2016,18+,8.4/10,87/100,0,0,1,0,1
2226,2226,2278,NOS4A2,2019,16+,6.7/10,69/100,0,1,0,0,1
2754,2754,2861,WWE NXT,2010,7+,7.8/10,52/100,0,1,0,0,1
1201,1201,1204,Familiar Wife,2018,NaN,7.6/10,48/100,1,0,0,0,1
3215,3215,3347,Larry King Now,2013,NaN,4.9/10,33/100,0,1,0,0,1
2440,2440,2525,Light as a Feather,2018,16+,6.6/10,61/100,0,1,0,0,1
1125,1125,1128,Mystery Lab,2020,7+,7.7/10,50/100,1,0,0,0,1

In [4]:
df = pd.read_csv("Netflix_movies_and_tv_shows_clustering.csv")
df.sample(20)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
4686,s4687,TV Show,Osmosis,NaN,"Agathe Bonitzer, Hugo Becker, Gaël Kamilindi, ...",France,"March 29, 2019",2019,TV-MA,1 Season,"International TV Shows, TV Dramas, TV Mysteries","In near-future Paris, two brilliant siblings u..."
3815,s3816,TV Show,Luis Miguel - The Series,NaN,"Diego Boneta, Juan Pablo Zurita, Camila Sodi, ...",Mexico,"July 12, 2019",2018,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",This series dramatizes the life story of Mexic...
817,s818,Movie,Being AP,Anthony Wonke,Tony McCoy,United Kingdom,"August 15, 2016",2015,TV-14,99 min,"Documentaries, International Movies, Sports Mo...","With retirement staring him in the face, an al..."
3971,s3972,Movie,Mary and the Witch's Flower,Hiromasa Yonebayashi,"Ruby Barnhill, Kate Winslet, Jim Broadbent, Ew...",Japan,"July 17, 2018",2017,PG,103 min,"Anime Features, Children & Family Movies",Ordinary girl Mary picks an extraordinary flow...
3409,s3410,Movie,Kisaan,Puneet Sira,"Jackie Shroff, Arbaaz Khan, Sohail Khan, Diya ...",India,"October 1, 2018",2009,TV-14,101 min,"Action & Adventure, Dramas, International Movies",A bitter family battle ensues between a father...
923,s924,Movie,Bill Hicks: Sane Man,"Kevin Booth, David Johndrow",Bill Hicks,United States,"December 31, 2018",1989,TV-MA,81 min,Stand-Up Comedy,Filmed in 1989 at a turning point in comedian ...
5399,s5400,Movie,Sat Shri Akaal England,Vikram Pradhan,"Ammy Virk, Monica Gill, Karamjit Anmol, Sardar...",India,"October 1, 2018",2017,TV-14,127 min,"Comedies, Dramas, International Movies",After several failed attempts to obtain a visa...
1425,s1426,Movie,Clouds of Sils Maria,Olivier Assayas,"Juliette Binoche, Kristen Stewart, Chloë Grace...","France, Germany, Switzerland","February 12, 2017",2014,R,124 min,"Dramas, International Movies",A middle-aged actress is cast in a film adapta...
2332,s2333,Movie,Gad Elmaleh: American Dream,Michael Simon,Gad Elmaleh,United States,"March 6, 2018",2018,TV-14,58 min,Stand-Up Comedy,"In his first English-language special, comedia..."
3254,s3255,TV Show,Justice in the City,NaN,"Chris Tong, Shaun Chen, Emily Lim, Remus Kam, ...",NaN,"October 1, 2017",2012,TV-14,1 Season,"International TV Shows, TV Dramas","Repeatedly on opposite sides of civil cases, t..."
4003,s4004,Movie,Maza Pati Karodpati,Sachin,"Sachin, Supriya Pilgaonkar, Ashok Saraf, Kisho...",India,"January 1, 2018",1988,TV-PG,132 min,"Comedies, International Movies, Romantic Movies",An orphan girl who has ambitions of marrying a...
4016,s4017,Movie,Meet the In-Laws,Niyi Akinmolayan,"Adeniyi Johnson, Tina Mba, Dele Odule, Lilian ...",Nigeria,"August 18, 2020",2017,TV-PG,75 min,"Comedies, Dramas, International Movies",When their respective parents oppose their uni...
2508,s2509,TV Show,Grace and Frankie,NaN,"Jane Fonda, Lily Tomlin, Martin Sheen, Sam Wat...",United States,"January 15, 2020",2020,TV-MA,6 Seasons,"TV Comedies, TV Dramas","They’re not friends, but when their husbands l..."
5499,s5500,TV Show,Serial Killer with Piers Morgan,NaN,Piers Morgan,United Kingdom,"September 1, 2019",2018,TV-14,1 Season,"British TV Shows, Crime TV Shows, Docuseries","Through intense prison interviews, Piers Morga..."
5208,s5209,TV Show,Rilakkuma and Kaoru,NaN,"Mikako Tabe, Soki Matsumoto, Takayuki Yamada, ...","Japan, United States","April 19, 2019",2019,TV-PG,1 Season,"Anime Series, International TV Shows","Her life might be a little mundane, but Kaoru ..."
97,s98,Movie,3 Deewarein,Nagesh Kukunoor,"Naseeruddin Shah, Jackie Shroff, Juhi Chawla, ...",NaN,"December 31, 2019",2003,TV-MA,121 min,"Dramas, International Movies, Thrillers",A reporter interviews three convicts on death ...
303,s304,TV Show,Ad Vitam,NaN,"Yvan Attal, Garance Marillier, Niels Schneider...",France,"November 1, 2019",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",In a future where regeneration technology lets...
7161,s7162,Movie,Total Frat Movie,Warren P. Sonoda,"Justin Deeley, Alex House, Steven Yaffee, Rebe...",United States,"December 19, 2016",2016,NR,94 min,Comedies,A disbanded fraternity tries to get their act ...
689,s690,Movie,Bad Day for the Cut,Chris Baugh,"Nigel O'Neill, Susan Lynch, Józef Pawlowski, S...",United Kingdom,"January 18, 2018",2017,TV-MA,99 min,"Independent Movies, International Movies, Thri...","A mild-mannered, middle-aged Irish farmer devo..."
1700,s1701,Movie,Demonic,Will Canon,"Maria Bello, Frank Grillo, Cody Horn, Dustin M...",United States,"August 10, 2017",2015,R,83 min,"Horror Movies, Independent Movies",When amateur ghost hunters visit an abandoned ...

In [35]:
df = pd.read_csv("netflix_daily_top_10.csv")
df.head(20)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55
5,2020-04-01,6,6,-,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",4,14
6,2020-04-01,7,10,-,Unorthodox,TV Show,Yes,"Mar 26, 2020",2,5
7,2020-04-01,8,7,5,Love is Blind,TV Show,Yes,"Feb 13, 2020",9,40
8,2020-04-01,9,8,-,Badland,Movie,NaN,"Mar 26, 2020",4,11
9,2020-04-01,10,9,-,Uncorked,Movie,Yes,"Mar 27, 2020",4,15
10,2020-04-02,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",10,100
11,2020-04-02,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",6,54
12,2020-04-02,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",10,84
13,2020-04-02,4,-,-,Nailed It!,TV Show,Yes,"Mar 9, 2018",1,7
14,2020-04-02,5,-,-,How to Fix a Drug Scandal,TV Show,Yes,"Apr 1, 2020",1,6
15,2020-04-02,6,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",6,35
16,2020-04-02,7,-,-,The Roommate,Movie,NaN,"Apr 1, 2020",1,4
17,2020-04-02,8,7,-,Unorthodox,TV Show,Yes,"Mar 26, 2020",3,8
18,2020-04-02,9,5,4,The Platform,Movie,Yes,"Mar 20, 2020",10,57
19,2020-04-02,10,6,-,Car Masters: Rust to Riches,TV Show,Yes,"Sep 14, 2018",5,15