In [5]:
import pandas as pd

data = {
    "Tên": ["Kiên", "Lan", "Minh"],
    "Tuổi": [23, 25, 30],
    "Thành phố": ["Hà Nội", "Đà Nẵng", "HCM"]
}

df = pd.DataFrame(data)

print("DataFrame đã tạo thành công:")
print(df)

DataFrame đã tạo thành công:
    Tên  Tuổi Thành phố
0  Kiên    23    Hà Nội
1   Lan    25   Đà Nẵng
2  Minh    30       HCM

In [ ]:
import pandas as pd

In [9]:
# Khởi tạo series từ list
fruits = pd.Series(["apple", "orange", "banana", "Cherry"])
fruits

0     apple
1    orange
2    banana
3    Cherry
dtype: object

In [10]:
# Thay đổi chỉ số
fruits = pd.Series(["apple", "orange", "banana", "Cherry"], index=["A", "B", "C", "D"])
fruits

A     apple
B    orange
C    banana
D    Cherry
dtype: object

In [12]:
# KHởi tạo Series từ dictionary
fruit_dict = {
    'A': 'apple',
    'B': 'banana',
    'C': 'cherry',
    'D': 'orange'
}

fruits = pd.Series(fruit_dict)
fruits

A     apple
B    banana
C    cherry
D    orange
dtype: object

In [15]:
fruits['A']

'apple'

In [16]:
# Lấy 2 phần tử đầu
fruits[:2]

A     apple
B    banana
dtype: object

In [29]:
temperature_dict = {
    "Hà Nội": 28,
    "Đà Nẵng": 30,
    "TP. Hồ Chí Minh": 35,
    "Huế": 29,
    "Hải Phòng": 26,
    "Nghệ An": 30,
    "Lâm Đồng": 39
}
temperature = pd.Series(temperature_dict)
temperature

Hà Nội             28
Đà Nẵng            30
TP. Hồ Chí Minh    35
Huế                29
Hải Phòng          26
Nghệ An            30
Lâm Đồng           39
dtype: int64

In [30]:
# Một số hàm thống kê nhanh
print(temperature.max()) #Lấy giá trị lớn nhất
print(temperature.min()) #Lấy giá trị bé nhất
print(temperature.sum()) #Lấy tổng
print(temperature.mean()) #Lấy trung bình cộng
print(temperature.median()) #Lấy trung vị
print(temperature.mode()) #Lấy giá trị xuất hiện nhiều nhất

39
26
217
31.0
30.0
0    30
dtype: int64