In [16]:
import pandas as pd

student = pd.Series([37, 48, 42, 39, 41, 38, 40, 40, 43])
student
print(student.mean())
print(student.median())
print(student.mode())

40.888888888888886
40.0
0    40
dtype: int64

In [18]:
import pandas as pd

In [ ]:
customerID = pd.Series([4,3,1,1,5,1,1])
customerID
print(customerID.mean())
print(customerID.median())
print(customerID.mode()) #Số xuất hiện nhiều nhất : "1"

2.2857142857142856
1.0
0    1
dtype: int64

In [28]:
# Khởi tạo data bằng dictionary
animals = pd.DataFrame({
    "dong_vat" : ["Sao La", "Khỉ đuôi ngắn", "Voi châu Á"],
    "tuoi_tho" : [25,25,70],
    "loai" : ["có vú", "linh trưởng", "có vú"],
    "thuc_an" : ["thực vật", "thực vật", "thực vật"],
    "moi_truong_song" : ["rừng", "rừng", "thảo nguyên"],
    "tap_tinh" : ["Bầy đàn", "Bầy đàn", "Bầy đàn"]
})

animals

        dong_vat  tuoi_tho         loai   thuc_an moi_truong_song tap_tinh
0         Sao La        25        có vú  thực vật            rừng  Bầy đàn
1  Khỉ đuôi ngắn        25  linh trưởng  thực vật            rừng  Bầy đàn
2     Voi châu Á        70        có vú  thực vật     thảo nguyên  Bầy đàn

In [29]:
# Hiển thị thông tin về bảng (số cột, số hàng, kiểu dữ liệu)
animals.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   dong_vat         3 non-null      object
 1   tuoi_tho         3 non-null      int64
 2   loai             3 non-null      object
 3   thuc_an          3 non-null      object
 4   moi_truong_song  3 non-null      object
 5   tap_tinh         3 non-null      object
dtypes: int64(1), object(5)
memory usage: 276.0+ bytes

In [31]:
animals.head(2) #Xem n dòng đầu tiên
animals.tail(2) #Xem n dòng cuối cùng

        dong_vat  tuoi_tho         loai   thuc_an moi_truong_song tap_tinh
1  Khỉ đuôi ngắn        25  linh trưởng  thực vật            rừng  Bầy đàn
2     Voi châu Á        70        có vú  thực vật     thảo nguyên  Bầy đàn

In [32]:
animals.describe()

        tuoi_tho
count   3.000000
mean   40.000000
std    25.980762
min    25.000000
25%    25.000000
50%    25.000000
75%    47.500000
max    70.000000

In [ ]:
# Dùng index slicing để lấy ra n hàng
animals[:2]

        dong_vat  tuoi_tho         loai   thuc_an moi_truong_song tap_tinh
0         Sao La        25        có vú  thực vật            rừng  Bầy đàn
1  Khỉ đuôi ngắn        25  linh trưởng  thực vật            rừng  Bầy đàn

In [35]:
# Lấy ra 1 series (1 cột)
animals["dong_vat"]

0           Sao La
1    Khỉ đuôi ngắn
2       Voi châu Á
Name: dong_vat, dtype: object

In [ ]:
# Lấy ra nhiều cột
animals[["dong_vat", "loai"]]

        dong_vat         loai
0         Sao La        có vú
1  Khỉ đuôi ngắn  linh trưởng
2     Voi châu Á        có vú

In [ ]:
# Lọc có điều kiện
age_data = animals[["dong_vat", "tuoi_tho"]]
age_data[animals["tuoi_tho"] <= 30]

        dong_vat  tuoi_tho
0         Sao La        25
1  Khỉ đuôi ngắn        25

In [ ]:
# Thay đổi index
animals.set_index("dong_vat", inplace=True)
animals

               tuoi_tho         loai   thuc_an moi_truong_song tap_tinh
dong_vat
Sao La               25        có vú  thực vật            rừng  Bầy đàn
Khỉ đuôi ngắn        25  linh trưởng  thực vật            rừng  Bầy đàn
Voi châu Á           70        có vú  thực vật     thảo nguyên  Bầy đàn

In [ ]:
# Đặt lại index thành số
animals.reset_index()

        dong_vat  tuoi_tho         loai   thuc_an moi_truong_song tap_tinh
0         Sao La        25        có vú  thực vật            rừng  Bầy đàn
1  Khỉ đuôi ngắn        25  linh trưởng  thực vật            rừng  Bầy đàn
2     Voi châu Á        70        có vú  thực vật     thảo nguyên  Bầy đàn

In [43]:
# Lọc dựa trên index
animals.iloc[:2, 0:3]

               tuoi_tho         loai   thuc_an
dong_vat
Sao La               25        có vú  thực vật
Khỉ đuôi ngắn        25  linh trưởng  thực vật

In [44]:
# Lọc dựa trên nhãn của data
animals.loc[["Sao La", "Khỉ đuôi ngắn"], "tuoi_tho": "thuc_an"]

               tuoi_tho         loai   thuc_an
dong_vat
Sao La               25        có vú  thực vật
Khỉ đuôi ngắn        25  linh trưởng  thực vật

In [45]:
animals.loc[animals["loai"] == "có vú", "tuoi_tho" : "moi_truong_song"]

            tuoi_tho   loai   thuc_an moi_truong_song
dong_vat
Sao La            25  có vú  thực vật            rừng
Voi châu Á        70  có vú  thực vật     thảo nguyên

In [2]:
# Đọc và ghi file csv
data = {
    "name" : ["John", "Jane", "Doe"],
    "age" : [30, 25, 35],
    "city" : ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)
df.to_csv('output.csv', index=False)

NameError: name 'pd' is not defined

In [49]:
df = pd.read_csv("output.csv")
# print(df)
df

    name  age         city
0   John   30     New York
1   Jane   25  Los Angeles
2    Doe   35      Chicago
3  Lyria   18       Hà Nội

In [5]:
# Đọc và ghi file excel
import pandas as pd
data = {
    "name" : ["John", "Jane", "Doe"],
    "age" : [30, 25, 35],
    "city" : ["New York", "Los Angeles", "Chicago"]
}

df = pd.DataFrame(data)
df.to_excel("output.xlsx", index=False, engine="openpyxl", sheet_name="information")

# df1 = pd.read_excel("output.xlsx")
# df1