In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("car-sales-data.csv", index_col=[0])
df

       Colour  Odometer  Doors    Price
Make
Toyota  White  150043.0    4.0   $4,000
Honda     Red   87899.0    4.0   $5,000
Toyota   Blue       NaN    3.0   $7,000
BMW     Black   11179.0    5.0  $22,000
Nissan  White  213095.0    4.0   $3,500
Toyota  Green       NaN    4.0   $4,500
Honda     NaN       NaN    4.0   $7,500
Honda    Blue       NaN    4.0      NaN
Toyota  White   60000.0    NaN      NaN
NaN     White   31600.0    4.0   $9,700

In [4]:
df.dropna()
df.Colour = df.Colour.fillna(0)
df.Odometer = df.Odometer.fillna(0)
df.Doors = df.Doors.fillna(0)
df.Price = df.Price.fillna(0)
df.tail()

       Colour  Odometer  Doors   Price
Make
Toyota  Green       0.0    4.0  $4,500
Honda       0       0.0    4.0  $7,500
Honda    Blue       0.0    4.0       0
Toyota  White   60000.0    0.0       0
NaN     White   31600.0    4.0  $9,700

In [5]:
# df = pd.read_csv("car-sales-data.csv", index_col=[0])
# df

# 1. Chiếc xe nào được bán với giá đắt nhất?
# 2. Hãng xe nào có chiếc xe với giá trên mỗi kilomet đã đi được rẻ nhất?
# 3. Trung bình giá xe của các hãng xe là bao nhiêu? Hãng xe nào có trung bình giá bán cao nhất?

# df['Price'] = df['Price'].apply(lambda x : x[1: -1])
df['Price'] = pd.to_numeric(df['Price'].replace('[\$,]', '', regex=True), errors='coerce')
# df['Price'] = pd.to_numeric(df['Price'])
# df.dtypes()

most_expensive_car = df.loc[df['Price'].idxmax()]
most_expensive_car

<>:9: SyntaxWarning: invalid escape sequence '\$'
<>:9: SyntaxWarning: invalid escape sequence '\$'
C:\Users\pc\AppData\Local\Temp\ipykernel_2052\2824403433.py:9: SyntaxWarning: invalid escape sequence '\$'
  df['Price'] = pd.to_numeric(df['Price'].replace('[\$,]', '', regex=True), errors='coerce')

Colour        Black
Odometer    11179.0
Doors           5.0
Price         22000
Name: BMW, dtype: object

In [6]:
# 2. Hãng xe nào có chiếc xe với giá trên mỗi kilomet đã đi được rẻ nhất?
df['Price_per_km'] = df['Price'] / df['Odometer']
cheapest_per_km = df.loc[df['Price_per_km'].idxmin()]
cheapest_per_km

       Colour  Odometer  Doors  Price  Price_per_km
Make
Toyota  White  150043.0    4.0   4000      0.026659
Toyota   Blue       0.0    3.0   7000           inf
Toyota  Green       0.0    4.0   4500           inf
Toyota  White   60000.0    0.0      0      0.000000

In [7]:
# 3. Trung bình giá xe của các hãng xe là bao nhiêu? Hãng xe nào có trung bình giá bán cao nhất?
df_price = df.groupby("Make")["Price"].mean().sort_values(ascending=False)
print("Trung bình giá xe theo hãng:\n", df_price)
print("Hãng có giá trung bình cao nhất:", df_price.idxmax())

Trung bình giá xe theo hãng:
 Make
BMW       22000.000000
Honda      4166.666667
Toyota     3875.000000
Nissan     3500.000000
Name: Price, dtype: float64
Hãng có giá trung bình cao nhất: BMW