In [2]:
import pandas as pd

In [5]:
df = pd.read_csv("car-sales-data.csv", index_col=0)
df

       Colour  Odometer  Doors    Price
Make
Toyota  White  150043.0    4.0   $4,000
Honda     Red   87899.0    4.0   $5,000
Toyota   Blue       NaN    3.0   $7,000
BMW     Black   11179.0    5.0  $22,000
Nissan  White  213095.0    4.0   $3,500
Toyota  Green       NaN    4.0   $4,500
Honda     NaN       NaN    4.0   $7,500
Honda    Blue       NaN    4.0      NaN
Toyota  White   60000.0    NaN      NaN
NaN     White   31600.0    4.0   $9,700